<div class="topbar">
<a href="/logout">log out</a>
<a href="/">home</a><br>
</div>
<div class="topbar"><h3>Welcome, {{user.name}}!</h3></div>


<div class="topbar1"><a href="/profile/{{user._id}}/statistics">Your statistics</a></div><br>
<a href="/tasks" class="new button">Exercise</a>




