<form id="regForm" action="/signup" method="POST" class="logo-container topbar"><h3>Registration</h3><br>
  <label for="name">Name</label>
  <input class="short" type="text" name="name" placeholder="Введите имя"><br>
  <label for="email">email</label>
  <input class="short" type="email" name="email" placeholder="Введите email"><br>
  <label for="password">password</label>
  <input class="short" type="password" name="password" placeholder="Введите пароль"><br>
  <button type="submit" value="go!" class="button w-30 pad-2 round-1 text-c center">go!</button>
  <a href="/tasks" class="button button-outline">back</a>
</form>


